@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap");
/* font-family: "Roboto", sans-serif; */
.App {
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
}

.Navbar {
  font-size: 2.5rem;
}

.me-auto {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.login-form {
  max-width: 600px;
  margin: 0 auto;
}

.id-save {
  display: flex;
}

.login {
  background-color: gray;
  border-color: gray;
  opacity: 0.7;
}

.login:hover {
  background-color: gray;
  border-color: gray;
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.5s;
}

.login:focus {
  background-color: gray;
  outline: none;
  box-shadow: none;
  border: none;
}

.sign {
  font-size: 36px;
  font-weight: 500;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-text {
  font-size: 36px;
}

.close {
  background-color: gray;
  border-radius: 2px;
  opacity: 0.7;
  height: 25px;
}

.category-plus {
  width: 30px;
  height: 30px;
  background-color: gray;
  opacity: 0.7;
  border-radius: 3px;
  font-weight: 700;
  transition: all 0.5s;
  color: #fff;
  border: none;
}

.category-plus:hover {
  opacity: 1;
  transform: scale(1.1);
}
